body {
	font-family: "Calibri", sans-serif;
	color: white;
}

.intro {
	text-shadow: -.25px 0 black, 0 .25px black, .25px 0 black, 0 -.25px black;
}

ul {
	list-style: none;
	float: left;
	padding-left: 2em;
	margin: 0;
}

li {
	display: inline-block;
	padding-right: 3em;
}

a {
	text-decoration: none;
	color: white;
	font-size: 2em;
}

form {
	width: 40%;
	padding-left: 30%;
	margin-top: 5%;
}

label {
	font-size: 1.5em;
}

.slide p {
	margin: 0;
	font-size: 2em;
}

.slide a {
	margin-top: 1%;
}

/* Backgrounds will cover all the section
* --------------------------------------- */
#section0,
#section1,
#section2,
#slide1,
#slide2,
#slide3,
#slide4 {
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

#section0 {
	background-image: url(images/skyline.png);
	opacity: .95;
}

#slide1 {
	background-image: url(images/insightful.png);
}

#slide2 {
	background-image: url(images/fishing.jpg);
	text-shadow: -.25px 0 black, 0 .25px black, .25px 0 black, 0 -.25px black;
}

#slide3 {
	background-image: url(images/calendar.png);
}

#slide4 {
	background-image: url(images/worldmap.jpg);
}

#section2 {
	background-image: url(images/mexico.jpg);
	opacity: .95;
}

/* Centered texts in each section
* --------------------------------------- */
.section{
	text-align:center;
}

/* Fixed header and footer.
* --------------------------------------- */
#header {
	position:fixed;
	height: 50px;
	display:block;
	width: 100%;
	/*background: #333;*/
	z-index:9;
	text-align:center;
	color: #f2f2f2;
	padding: 20px 0 0 0;
}

#header{
	top:0px;
}

.connect-tiles {
	position: relative;
	margin-top: 2%;
	display: inline-block;
	width: 33%;
}

#connect-left img {
	height: 200px;
	border-radius: 150px;
}

#connect-right a {
	text-decoration: none;
	color: #ffffff;
}

#connect-right img {
	height: 25px;
	margin-right: 3%;
	padding-bottom: 4%;
}

#connect-right span {
	font-size: 2.0vw;
}

#connect-links {
	text-align: left;
	padding-left: 30%;
}

.connect-link {
	margin-bottom: 5%;
}

#connect-linkedin a:hover #linkedin { color: #2591F7; }

#connect-github a:hover #github { color: #2591F7; }

#connect-ga a:hover #ga { color: #2591F7; }

#connect-resume a:hover #resume { color: #2591F7; }